body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('./blurbackground.jpg') no-repeat center center fixed;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  width: 99%;
  max-width: 900px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.signin-container,
.signup-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.signin-left,
.signup-left {
  flex: 1;
  background: linear-gradient(to right, #ffee00, #000000);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.signin-right,
.signup-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

.btn {
  background: linear-gradient(to left, #ffee00, #000000);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #ff4b2b;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-btn {
  background: #ddd;
  border: none;
  margin: 0 10px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.social-btn:hover {
  background: #ff4b2b;
  color: white;
}

input {
  width: 80%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form .btn {
  margin-top: 10px;
}